<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_giant_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,25}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1865,78},{73,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,23}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1518,1},{73,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1883,1},{73,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1796,78},{75,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,25}</string>
                <key>spriteSize</key>
                <string>{73,65}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1956,74},{73,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,24}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1956,1},{73,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,24}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1509,159},{73,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{71,73}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1803,155},{71,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,26}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1949,141},{69,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,23}</string>
                <key>spriteSize</key>
                <string>{71,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1723,78},{71,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,22}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1876,153},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,23}</string>
                <key>spriteSize</key>
                <string>{75,69}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1743,1},{75,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,24}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1814,1},{75,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,25}</string>
                <key>spriteSize</key>
                <string>{77,71}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1445,1},{77,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,24}</string>
                <key>spriteSize</key>
                <string>{77,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{974,179},{77,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{75,73}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1668,1},{75,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{638,183},{71,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,22}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{723,183},{71,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,22}</string>
                <key>spriteSize</key>
                <string>{69,83}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1149,1},{69,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,20}</string>
                <key>spriteSize</key>
                <string>{65,77}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1506,80},{65,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,22}</string>
                <key>spriteSize</key>
                <string>{67,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1734,155},{67,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,24}</string>
                <key>spriteSize</key>
                <string>{71,77}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1433,80},{71,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,24}</string>
                <key>spriteSize</key>
                <string>{73,79}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1132,175},{73,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,24}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1053,177},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,23}</string>
                <key>spriteSize</key>
                <string>{79,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{893,179},{79,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1366,1},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1430,163},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{75,73}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1659,155},{75,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,21}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1573,78},{73,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,21}</string>
                <key>spriteSize</key>
                <string>{69,79}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1362,82},{69,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,22}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1220,86},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,22}</string>
                <key>spriteSize</key>
                <string>{67,81}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{373,187},{67,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,32}</string>
                <key>spriteSize</key>
                <string>{71,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{536,1},{71,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,31}</string>
                <key>spriteSize</key>
                <string>{69,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{456,185},{69,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,30}</string>
                <key>spriteSize</key>
                <string>{67,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{280,187},{67,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,29}</string>
                <key>spriteSize</key>
                <string>{61,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{94,193},{61,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,28}</string>
                <key>spriteSize</key>
                <string>{57,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{187,193},{57,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,28}</string>
                <key>spriteSize</key>
                <string>{55,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{747,1},{55,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,29}</string>
                <key>spriteSize</key>
                <string>{57,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{737,92},{57,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,28}</string>
                <key>spriteSize</key>
                <string>{63,85}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1084,1},{63,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,27}</string>
                <key>spriteSize</key>
                <string>{69,85}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1074,88},{69,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,26}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{853,90},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,24}</string>
                <key>spriteSize</key>
                <string>{65,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{670,92},{65,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,23}</string>
                <key>spriteSize</key>
                <string>{57,87}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{950,1},{57,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,24}</string>
                <key>spriteSize</key>
                <string>{55,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{796,92},{55,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,27}</string>
                <key>spriteSize</key>
                <string>{55,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{404,1},{55,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,29}</string>
                <key>spriteSize</key>
                <string>{57,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{386,94},{57,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,31}</string>
                <key>spriteSize</key>
                <string>{65,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{337,1},{65,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,26}</string>
                <key>spriteSize</key>
                <string>{91,97}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1,102},{91,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{89,95}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{90,1},{89,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{83,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{181,1},{83,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,31}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{445,94},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,34}</string>
                <key>spriteSize</key>
                <string>{77,85}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{995,90},{77,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,33}</string>
                <key>spriteSize</key>
                <string>{69,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{599,92},{69,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,32}</string>
                <key>spriteSize</key>
                <string>{67,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{317,94},{67,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,30}</string>
                <key>spriteSize</key>
                <string>{67,93}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{177,98},{67,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,28}</string>
                <key>spriteSize</key>
                <string>{69,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{246,94},{69,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,28}</string>
                <key>spriteSize</key>
                <string>{69,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{266,1},{69,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,27}</string>
                <key>spriteSize</key>
                <string>{65,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{680,1},{65,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,28}</string>
                <key>spriteSize</key>
                <string>{69,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{609,1},{69,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,30}</string>
                <key>spriteSize</key>
                <string>{71,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{547,183},{71,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,31}</string>
                <key>spriteSize</key>
                <string>{73,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{461,1},{73,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,30}</string>
                <key>spriteSize</key>
                <string>{81,93}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{94,98},{81,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,27}</string>
                <key>spriteSize</key>
                <string>{87,99}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{73,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{524,92},{73,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1009,1},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{73,79}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1280,169},{73,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,28}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1593,1},{73,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,29}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1584,155},{73,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{73,79}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1287,86},{73,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,28}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{808,183},{71,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_giant_run_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,23}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{879,1},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,23}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{924,90},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,23}</string>
                <key>spriteSize</key>
                <string>{69,83}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1220,1},{69,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,24}</string>
                <key>spriteSize</key>
                <string>{71,81}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1207,173},{71,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,27}</string>
                <key>spriteSize</key>
                <string>{73,79}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1291,1},{73,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,30}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1648,78},{73,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,30}</string>
                <key>spriteSize</key>
                <string>{73,79}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1355,167},{73,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,30}</string>
                <key>spriteSize</key>
                <string>{73,83}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{1145,88},{73,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_giant_run_0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,25}</string>
                <key>spriteSize</key>
                <string>{73,87}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{804,1},{73,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>giant.png</string>
            <key>size</key>
            <string>{2030,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdba5f9871c47ff830a5fb759d61e75a:2472449dc5fca7e908ca0090c3003ff8:df1b0d2b29130c2640c52faee4dbff86$</string>
            <key>textureFileName</key>
            <string>giant.png</string>
        </dict>
    </dict>
</plist>
