<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_demon_tree_minion_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{46,30}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,56},{46,30}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,210},{50,32}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,56},{50,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,214},{50,30}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,58},{50,30}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,178},{52,30}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,58},{52,30}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,148},{52,30}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{52,30}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,144},{52,32}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,57},{52,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,172},{50,34}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,56},{50,34}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,114},{52,32}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,59},{52,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{52,32}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{52,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,140},{52,30}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{52,30}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,106},{54,32}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,57},{54,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,208},{50,32}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,55},{50,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{40,38}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,54},{40,38}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,192},{42,38}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,54},{42,38}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,310},{44,36}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,56},{44,36}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,246},{46,34}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,57},{46,34}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,180},{50,32}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{50,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,244},{48,30}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,57},{48,30}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,276},{46,32}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,56},{46,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,356},{42,34}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{42,34}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,392},{38,36}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,55},{38,36}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,472},{34,36}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,56},{34,36}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,432},{34,38}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,54},{34,38}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{36,40}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,52},{36,40}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,282},{34,44}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,53},{34,44}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,348},{28,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,53},{28,44}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,326},{28,44}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,54},{28,44}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,318},{30,44}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,55},{30,44}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,378},{34,42}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,54},{34,42}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,444},{38,38}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,54},{38,38}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,446},{38,38}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,54},{38,38}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,350},{34,38}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,53},{34,38}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,414},{28,36}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,55},{28,36}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,414},{30,36}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,56},{30,36}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,446},{32,40}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,54},{32,40}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{34,44}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,52},{34,44}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{50,42}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,53},{50,42}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{46,42}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,54},{46,42}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,282},{44,42}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,55},{44,42}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,280},{44,44}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,56},{44,44}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,236},{40,44}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,54},{40,44}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,326},{40,42}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,53},{40,42}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{42,40}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,52},{42,40}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,242},{46,36}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,53},{46,36}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{52,30}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,57},{52,30}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{54,30}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,58},{54,30}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,38},{56,32}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,58},{56,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,40},{54,38}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,54},{54,38}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,140},{50,34}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,55},{50,34}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,110},{52,32}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,56},{52,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,80},{54,32}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,58},{54,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{56,34}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,58},{56,34}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,34}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,58},{58,34}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{56,36}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,55},{56,36}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,72},{54,36}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,54},{54,36}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,72},{54,32}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,56},{54,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{56,34}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,57},{56,34}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,36},{56,34}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,59},{56,34}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,32}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,59},{58,32}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_demon_tree_minion_run_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{54,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{54,34}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demon_tree_minion.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb9e1da7ea45f8cafa4fa921ef43b9b3:1/1$</string>
            <key>textureFileName</key>
            <string>demon_tree_minion.png</string>
        </dict>
    </dict>
</plist>
