<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_dragon_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{54,99}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{54,97}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{57,1},{54,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{54,97}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{57,100},{54,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,27}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{243,1},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{58,91}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{320,194},{58,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{54,89}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{144,198},{54,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{54,87}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{875,90},{54,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{54,89}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{500,185},{54,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{54,97}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{113,1},{54,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{54,99}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1,102},{54,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,30}</string>
                <key>spriteSize</key>
                <string>{72,89}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{622,1},{72,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,30}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{169,1},{72,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,30}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{188,98},{72,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,30}</string>
                <key>spriteSize</key>
                <string>{74,93}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{339,97},{74,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,29}</string>
                <key>spriteSize</key>
                <string>{76,87}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{775,1},{76,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,30}</string>
                <key>spriteSize</key>
                <string>{76,87}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{797,90},{76,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,30}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{834,179},{76,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,31}</string>
                <key>spriteSize</key>
                <string>{76,87}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{853,1},{76,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,32}</string>
                <key>spriteSize</key>
                <string>{74,89}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{546,1},{74,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,31}</string>
                <key>spriteSize</key>
                <string>{74,89}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{563,92},{74,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,30}</string>
                <key>spriteSize</key>
                <string>{94,75}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{262,98},{94,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,32}</string>
                <key>spriteSize</key>
                <string>{92,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{382,1},{92,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,34}</string>
                <key>spriteSize</key>
                <string>{90,81}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{463,1},{90,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,35}</string>
                <key>spriteSize</key>
                <string>{88,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{639,92},{88,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,36}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{696,1},{88,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,38}</string>
                <key>spriteSize</key>
                <string>{88,75}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{720,91},{88,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,39}</string>
                <key>spriteSize</key>
                <string>{90,73}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{488,93},{90,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,37}</string>
                <key>spriteSize</key>
                <string>{92,71}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{415,95},{92,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,35}</string>
                <key>spriteSize</key>
                <string>{94,73}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{307,1},{94,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,31}</string>
                <key>spriteSize</key>
                <string>{96,73}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{113,100},{96,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,18}</string>
                <key>spriteSize</key>
                <string>{76,83}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{921,179},{76,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,19}</string>
                <key>spriteSize</key>
                <string>{76,81}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1006,173},{76,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,23}</string>
                <key>spriteSize</key>
                <string>{76,83}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{987,88},{76,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,27}</string>
                <key>spriteSize</key>
                <string>{74,83}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{749,181},{74,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,30}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1121,86},{74,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,32}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1175,1},{76,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,31}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1140,169},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,29}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{672,182},{72,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,26}</string>
                <key>spriteSize</key>
                <string>{72,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{591,183},{72,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,21}</string>
                <key>spriteSize</key>
                <string>{74,83}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1043,1},{74,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{54,85}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{931,1},{54,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{54,85}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{931,88},{54,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{56,85}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{57,199},{56,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{62,85}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{413,192},{62,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{60,83}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{235,195},{60,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_dragon_run_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{54,83}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1065,86},{54,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{54,83}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1119,1},{54,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{54,81}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1197,82},{54,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{54,83}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{1084,171},{54,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_dragon_run_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{54,85}</string>
                <key>spriteSourceSize</key>
                <string>{110,155}</string>
                <key>textureRect</key>
                <string>{{987,1},{54,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon.png</string>
            <key>size</key>
            <string>{1252,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b8952886df2b099ca6bef086eed3c1f:161f470478da58c8ad63adffb0cc7de4:c4903a2f537cac14b0fcef7b8429e510$</string>
            <key>textureFileName</key>
            <string>dragon.png</string>
        </dict>
    </dict>
</plist>
