# Default ignored files
/shelf/
# Datasource local storage ignored files
/../../../../../../../:\Users\CPU60302-Local\Desktop\nhom 2\team_2_server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
