<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map/map_background_0000_cell_extend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,790},{88,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,83}</string>
			</dict>
			<key>map/map_background_0000_for_house.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1451},{86,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,79}</string>
			</dict>
			<key>map/map_background_0001_cell_extend.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1864},{78,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,71}</string>
			</dict>
			<key>map/map_background_0001_for_house.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1776},{78,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,75}</string>
			</dict>
			<key>map/map_cell_shadow_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,784},{62,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,11}</string>
			</dict>
			<key>map/map_decoration_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,797},{246,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,281}</string>
			</dict>
			<key>map/map_decoration_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,1033},{278,227}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{279,227}</string>
			</dict>
			<key>map/map_decoration_grass_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,445},{65,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,45}</string>
			</dict>
			<key>map/map_decoration_grass_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,750},{38,24}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,33}</string>
			</dict>
			<key>map/map_decoration_grass_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,707},{33,36}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>
			<key>map/map_decoration_grass_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,255},{87,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,36}</string>
			</dict>
			<key>map/map_decoration_rock_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,1577},{93,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,103}</string>
			</dict>
			<key>map/map_decoration_rock_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,587},{63,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,35}</string>
			</dict>
			<key>map/map_decoration_rock_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1200},{69,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,47}</string>
			</dict>
			<key>map/map_decoration_rock_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,784},{30,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,21}</string>
			</dict>
			<key>map/map_decoration_rock_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,1546},{52,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,63}</string>
			</dict>
			<key>map/map_decoration_tree_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,1321},{114,139}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,170}</string>
			</dict>
			<key>map/map_decoration_tree_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,1456},{85,117}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,170}</string>
			</dict>
			<key>map/map_decoration_tree_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,1053},{137,167}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,170}</string>
			</dict>
			<key>map/map_decoration_tree_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,1402},{106,130}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,170}</string>
			</dict>
			<key>map/map_forest_obstacle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1952},{77,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,68}</string>
			</dict>
			<key>map/map_forest_obstacle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1608},{58,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,53}</string>
			</dict>
			<key>map/map_forest_obstacle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,1464},{64,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,73}</string>
			</dict>
			<key>map/map_forest_obstacle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,1952},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,73}</string>
			</dict>
			<key>map/map_house.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,1053},{97,134}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,134}</string>
			</dict>
			<key>battle/battle_item_cell.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,1571},{77,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,91}</string>
			</dict>
			<key>battle/single_grid.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,1451},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>common/common_avatar_border.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1313},{133,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,146}</string>
			</dict>
			<key>common/common_btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,1200},{192,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,111}</string>
			</dict>
			<key>common/common_icon_house.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,520},{41,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,59}</string>
			</dict>
			<key>common/common_icon_trophy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,1197},{106,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,105}</string>
			</dict>
			<key>battle/battle_deck.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,797},{644,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,200}</string>
			</dict>
			<key>battle/battle_btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,1864},{68,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,75}</string>
			</dict>
			<key>map/map_river_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1845,5},{1018,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1018,143}</string>
			</dict>
			<key>map/map_background_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,5},{633,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{633,433}</string>
			</dict>
			<key>map/map_background_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{636,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{636,437}</string>
			</dict>
			<key>battle/UI/ui_grid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,5},{541,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{541,387}</string>
			</dict>
			<key>map/map_background_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,402},{539,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{539,385}</string>
			</dict>
			<key>battle/battle_info_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1680},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>common/common_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,660},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>map/map_background_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,448},{539,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{539,385}</string>
			</dict>
			<key>common/common_icon_star_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,856},{29,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,28}</string>
			</dict>
			<key>battle_result/battle_result_health_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,352},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,35}</string>
			</dict>
			<key>battle_result/battle_result_avatar_border_loser.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,1321},{133,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,146}</string>
			</dict>
			<key>battle_result/battle_result_icon_swords_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1744,1464},{99,97}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,100}</string>
			</dict>
			<key>battle_result/battle_result_icon_swords_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,1470},{99,97}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,100}</string>
			</dict>
			<key>battle_result/battle_result_line_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,5},{240,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,13}</string>
			</dict>
			<key>battle_result/battle_result_line_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,5},{240,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,13}</string>
			</dict>
			<key>battle_result/battle_result_reward_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,448},{332,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{334,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>battleScene.png</string>
			<key>realTextureFileName</key>
			<string>battleScene.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>