<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card/card_background_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,945},{118,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/card_background_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,1073},{118,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/card_background_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1084},{118,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/card_background_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1605,818},{118,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/card_border_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1075},{138,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,186}</string>
			</dict>
			<key>card/card_border_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,426},{139,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,186}</string>
			</dict>
			<key>card/card_border_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1663,622},{139,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,186}</string>
			</dict>
			<key>card/card_border_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,796},{139,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,186}</string>
			</dict>
			<key>card/card_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,217},{117,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,22}</string>
			</dict>
			<key>card/card_monster_assassin.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,1261},{151,119}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,167}</string>
			</dict>
			<key>card/card_monster_bat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,932},{140,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,139}</string>
			</dict>
			<key>card/card_monster_giant.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,934},{151,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,197}</string>
			</dict>
			<key>card/card_monster_ninja.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,816},{153,133}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,168}</string>
			</dict>
			<key>card/card_monster_swordsman.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1109},{142,166}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,168}</string>
			</dict>
			<key>card/card_potion_fireball.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1255},{135,138}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,186}</string>
			</dict>
			<key>card/card_potion_frozen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,796},{126,172}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,186}</string>
			</dict>
			<key>card/card_potion_heal.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,935},{139,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,186}</string>
			</dict>
			<key>card/card_potion_power.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1095},{150,170}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,187}</string>
			</dict>
			<key>card/card_potion_speed_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1168},{128,171}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,186}</string>
			</dict>
			<key>card/card_potion_trap.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,340},{50,58}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>card/card_tower_attack_speed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1779,921},{118,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/card_tower_boomerang.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,1223},{118,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/card_tower_cannon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1605,946},{118,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/card_tower_damage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,959},{118,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/card_tower_ice_gun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,1081},{118,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/card_tower_oil_gun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,1201},{118,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/card_tower_wizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1212},{118,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,164}</string>
			</dict>
			<key>card/miniature_boss_dark_giant.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,268},{293,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,264}</string>
			</dict>
			<key>card/miniature_boss_demon_tree.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,5},{277,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,242}</string>
			</dict>
			<key>card/miniature_boss_desert_king.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,5},{311,287}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,287}</string>
			</dict>
			<key>card/miniature_boss_golem.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,5},{267,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,270}</string>
			</dict>
			<key>card/miniature_boss_iceman.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{353,253}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,253}</string>
			</dict>
			<key>card/miniature_boss_satyr.png</key>
			<dict>
				<key>frame</key>
				<string>{{1854,5},{188,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,282}</string>
			</dict>
			<key>card/miniature_monster_assassin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,5},{302,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,204}</string>
			</dict>
			<key>card/miniature_monster_bat.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,749},{186,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,178}</string>
			</dict>
			<key>card/miniature_monster_giant.png</key>
			<dict>
				<key>frame</key>
				<string>{{1568,5},{208,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,278}</string>
			</dict>
			<key>card/miniature_monster_ninja.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,257},{280,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,184}</string>
			</dict>
			<key>card/miniature_monster_swordsman.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,746},{208,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,194}</string>
			</dict>
			<key>card/miniature_tower_attack_speed_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,713},{182,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,213}</string>
			</dict>
			<key>card/miniature_tower_attack_speed_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,948},{187,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,212}</string>
			</dict>
			<key>card/miniature_tower_attack_speed_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,909},{190,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,211}</string>
			</dict>
			<key>card/miniature_tower_boomerang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,901},{164,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,197}</string>
			</dict>
			<key>card/miniature_tower_boomerang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,622},{164,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,203}</string>
			</dict>
			<key>card/miniature_tower_boomerang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,426},{184,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,206}</string>
			</dict>
			<key>card/miniature_tower_cannon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,713},{186,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,218}</string>
			</dict>
			<key>card/miniature_tower_cannon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,426},{186,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,221}</string>
			</dict>
			<key>card/miniature_tower_cannon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,302},{194,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,234}</string>
			</dict>
			<key>card/miniature_tower_damage_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,547},{192,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,214}</string>
			</dict>
			<key>card/miniature_tower_damage_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,540},{196,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,224}</string>
			</dict>
			<key>card/miniature_tower_damage_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,506},{197,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,224}</string>
			</dict>
			<key>card/miniature_tower_ice_gun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,223},{193,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,245}</string>
			</dict>
			<key>card/miniature_tower_ice_gun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,282},{194,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,252}</string>
			</dict>
			<key>card/miniature_tower_ice_gun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,217},{199,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,269}</string>
			</dict>
			<key>card/miniature_tower_oil_gun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,620},{200,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,188}</string>
			</dict>
			<key>card/miniature_tower_oil_gun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,540},{200,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,187}</string>
			</dict>
			<key>card/miniature_tower_oil_gun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,691},{200,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,204}</string>
			</dict>
			<key>card/miniature_tower_wizard_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,735},{176,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,197}</string>
			</dict>
			<key>card/miniature_tower_wizard_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,486},{195,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,231}</string>
			</dict>
			<key>card/miniature_tower_wizard_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1818,297},{200,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,235}</string>
			</dict>
			<key>card/skill_icon_armor_break.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,400},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>card/skill_icon_burn.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,302},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>card/skill_icon_poison.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,365},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>card/skill_icon_slow.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,428},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>card/skill_icon_stun.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,491},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>battle/battle_card_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,554},{106,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,143}</string>
			</dict>
			<key>common/common_icon_energy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,257},{73,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,85}</string>
			</dict>
			<key>battle/battle_btn_destroy.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,268},{104,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Card.png</string>
			<key>realTextureFileName</key>
			<string>Card.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>