<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_attack_speed_attack_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,462},{48,46}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,124},{48,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,416},{48,46}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{48,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,230},{48,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,126},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,136},{48,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,126},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,128},{48,42}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,128},{48,42}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,42}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,129},{48,42}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,92},{48,44}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,128},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,90},{48,44}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,128},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,90},{48,44}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,128},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,90},{48,44}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,128},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,90},{48,44}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,127},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,90},{48,44}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,127},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,90},{48,44}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,127},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{48,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,126},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_0_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,46},{48,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,126},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{44,60}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,110},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,370},{44,60}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,110},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,324},{44,60}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,46},{42,60}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,109},{42,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{42,60}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,109},{42,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,46},{42,56}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,110},{42,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,46},{42,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,109},{42,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,320},{44,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{44,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,278},{44,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,278},{44,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,276},{44,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,46},{42,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,109},{42,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,46},{42,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,109},{42,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,322},{44,60}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,320},{44,60}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,110},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,320},{44,60}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,462},{46,60}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,109},{46,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,370},{44,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,276},{44,60}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,368},{44,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,368},{44,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,366},{44,58}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{44,58}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,366},{44,58}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{44,58}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,324},{44,58}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,464},{46,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,109},{46,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,464},{46,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,109},{46,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,228},{44,56}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,110},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,274},{44,60}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_attack_2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,416},{46,60}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,110},{46,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,412},{48,46}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{48,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,46},{48,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,126},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,46},{48,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,126},{48,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,274},{46,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,126},{46,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,274},{46,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,126},{46,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{46,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,126},{46,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,232},{46,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,126},{46,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,460},{46,46}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{46,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,460},{46,46}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{46,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,460},{46,46}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{46,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{46,46}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{46,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,232},{46,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,126},{46,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,138},{46,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,126},{46,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,92},{46,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,126},{46,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,416},{46,46}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,124},{46,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_0_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,412},{48,46}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{48,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,274},{44,60}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,110},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,230},{44,60}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,110},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,182},{44,60}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{42,60}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,109},{42,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{42,60}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,109},{42,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{42,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,109},{42,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{42,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,109},{42,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,138},{44,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,138},{44,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,136},{44,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,136},{44,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,136},{44,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{42,56}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,109},{42,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{42,56}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,110},{42,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,182},{44,60}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,182},{44,60}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,110},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{44,60}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,412},{46,60}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,109},{46,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,322},{44,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,136},{44,60}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,228},{44,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,228},{44,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,228},{44,58}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{44,58}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,186},{44,58}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,184},{44,58}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,184},{44,58}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,414},{46,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,109},{46,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,414},{46,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,109},{46,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,182},{44,58}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{44,60}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,109},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_attack_speed_idle_2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,92},{44,60}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,110},{44,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_attack_speed_1_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1736f3f1237b02108ea5fdea86a0ada9:1/1$</string>
            <key>textureFileName</key>
            <string>tower_attack_speed_1_2.png</string>
        </dict>
    </dict>
</plist>
