<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_damage_attack_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,628},{36,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,121},{36,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,780},{34,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,630},{34,50}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,121},{34,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{34,52}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,118},{34,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,630},{34,52}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,118},{34,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,628},{36,52}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,116},{36,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,590},{38,54}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,114},{38,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,590},{38,52}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,116},{38,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,590},{38,52}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,117},{38,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,628},{36,50}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,119},{36,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,730},{34,48}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,121},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,680},{34,48}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{34,48}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{34,48}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{34,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{52,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,108},{52,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,528},{50,78}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,109},{50,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,580},{46,74}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,111},{46,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{46,74}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,110},{46,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,474},{52,78}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,106},{52,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{56,80}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,104},{56,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,62},{58,78}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,105},{58,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,122},{56,78}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,104},{56,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,432},{54,78}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,104},{54,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,372},{52,80}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,106},{52,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,370},{52,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,108},{52,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,314},{54,80}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,111},{54,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{58,78}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,111},{58,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,430},{54,78}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,110},{54,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,368},{52,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,108},{52,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,64},{60,84}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,104},{60,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,134},{60,82}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,105},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,314},{56,80}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,105},{56,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,256},{56,80}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,104},{56,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{60,82}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,102},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,84}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,100},{64,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,66},{64,82}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,101},{64,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,364},{64,80}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,102},{64,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{62,80}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,102},{62,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{62,84}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,103},{62,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{62,84}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,105},{62,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{64,82}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,108},{64,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,310},{68,80}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,109},{68,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,66},{66,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,106},{66,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,64},{60,84}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,104},{60,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{34,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{34,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{34,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{34,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,730},{32,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,122},{32,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,630},{34,48}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,680},{32,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,122},{32,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,980},{32,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,122},{32,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,930},{32,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,122},{32,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,630},{34,48}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,880},{32,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,122},{32,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,830},{32,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,122},{32,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,980},{32,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,122},{32,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,930},{32,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,122},{32,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,880},{32,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,122},{32,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,830},{32,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,122},{32,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_0_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,630},{34,48}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,122},{34,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{50,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,108},{50,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,538},{50,78}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,109},{50,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,488},{50,78}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,109},{50,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,486},{50,78}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,109},{50,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{50,78}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,109},{50,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,580},{48,78}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,109},{48,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,578},{48,78}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,109},{48,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,540},{48,78}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,109},{48,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,528},{48,78}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,110},{48,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{48,78}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,110},{48,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,530},{48,78}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,110},{48,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,478},{50,78}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,110},{50,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,476},{50,78}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,110},{50,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,426},{50,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,108},{50,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,424},{50,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,108},{50,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,422},{50,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,108},{50,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,380},{50,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,108},{50,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,242},{60,82}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,106},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,188},{60,82}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,106},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,188},{60,82}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,180},{60,82}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,126},{60,82}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,106},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,304},{58,82}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{58,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,250},{58,82}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{58,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,310},{56,82}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,106},{56,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,254},{58,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,106},{58,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,250},{58,82}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{58,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,196},{58,82}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{58,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{58,82}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,106},{58,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,194},{58,82}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,106},{58,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,132},{60,82}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,126},{60,82}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{60,84}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,104},{60,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_idle_2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{60,84}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,104},{60,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_damage_1_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00a1f3dac8f759b78327ee12653eb89e:1/1$</string>
            <key>textureFileName</key>
            <string>tower_damage_1_2.png</string>
        </dict>
    </dict>
</plist>
